{% extends "index.html" %}
{% block content %}
    <div class="container text-center">
        <p class="text-white animated bounceInDown slow display-4 font-heading mt-4 ">Got a question about using AcceptMe? </p>
        <div class="text-white"> Kindly ensure you have gone thru <a href="faq.html" class="btn-link text-white" target="_blank">FAQ page <i class="fas fa-chevron-circle-right"></i></a> and If you still have any queries, feel free to reach out to us
        </div>
        <div class="row   d-flex justify-content-center" id="contact-page-top">
            <div class="col-md-8">
                <div class="card-deck m-auto" id="contact-card-deck">
                    <div class="card contact-card animated flip slow">
                        <h3 class="card-header font-body">Contact us</h3>
                        <div class="p-3">
                            <img src="https://i.postimg.cc/R0jDFbP6/rick-and-morty-transparent-background-2.png"
                                 alt="contact-us-image" class="img-fluid rounded  w-75">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title font-body"></h2>
                            <h4 class="card-text font-body">Reach out to us for any issues with <br> Pricing, Subscription or
                                <Tools></Tools>
                            </h4>
                            <div class="">
                                <span class="btn pricing-btn" target="_blank">Send us the screenshot on
                                    our whatsapp number <span class="font-weight-bold text-warning">+917014716530</span><i class="fas fa-message"></i></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="list-unstyled text-dark small">
                                <li> App Owned by <a href="https://www.instagram.com/the_boy_has_no_name" class="text-dark" target="_blank">Arham Surana and Taresh Goyal</a>
                                </li>
                                <li> Designed and developed by <a href="http://grohit.com/" class="text-dark" target="_blank">G Rohit</a>
                                <li>Backend Development and Deployment done by: <a href="https://patelfarhaan.github.io/" class="text-dark" target="_blank">Farhaan Patel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
{% endblock %}
