<!doctype html>
<html lang="en">
<!-- Designed & Developed by G Rohit
https://about.me/grohit -->

<head>
    <title>Pricing  | AcceptMe | Instagram Requests Acceptor </title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://i.postimg.cc/B6kk4MyD/AM-icon.png" />
    <meta name="application-name" content="Pricing | AcceptMe | Instagram Requests Acceptor">
    <meta name="description"
        content="Learn about economical subscription plans of AcceptMe - An efficient website to help you accept all your pending requests on Instagram profile in a very convenient way. Visit once and experience the magic." />
    <meta property="og:description"
        content="Learn about economical subscription plans of AcceptMe - An efficient website to help you accept all your pending requests on Instagram profile in a very convenient way. Visit once and experience the magic." />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keywords"
        content="Pending,request,instagram,insta,gram,telegram,facebook,gmail,whatsapp,intasgrm,graminsta,user,followers,acceptall,allow,users, pending instagram requests, downloader, insta DP, instagram profile pic, instagram profile, picture, download instagram video, video downloader, Acceptme,Accept,Me">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Acceptme.in">

    <!-- bootsrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- font awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename = 'acceptmestyling.css') }}">
</head>

<body>

    <!-- Navbar STARTS -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-fixed-top">
        <a class="navbar-brand" href="{{ url_for('core.index') }}">
            <img src="https://i.postimg.cc/5NWT002Q/Accept-ME-white.png" alt="accept me logo" width="120px"
                height="auto">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mobileMenubg" id="navbarCollapse">
            <ul class="navbar-nav ml-auto text-white text-center ">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.index') }}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.about') }}">About</a>
                </li>
                <li class="nav-item" id="activePage">
                    <a class="nav-link" href="{{ url_for('core.pricing') }}">Pricing <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="{{ url_for('core.faq') }}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.contact') }}">Contact</a>
                </li>
                {% if current_user.is_authenticated and not is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated and is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.logout') }}">Admin LogOut</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Navbar ENDS -->

    <!-- main content STARTS -->

    <section class="pricing">
        <div class="container">
            <div class="row mt-5" id="pricing-page-top">
                <div class="col-md-12 text-center">
                    <h1 class="text-white animated bounceInDown slow display-2  ">Pricing </h1>
                    <p class="animated pulse infinite slow delay-5s text-white mb-4">
                        <a href="https://api.whatsapp.com/send?phone=917014716530&text=Hi%20there,%20I%20have%20sent%20you%20the%20payment%20and%20here%20is%20the%20screenshot:%20"
                        target="_blank" class="btn btn-success btn"> <i class="fab fa-whatsapp    "></i>
                        Verify your Payment</a>
                    </p>
                    <div class="card-deck">
                        <div class="card bg-black animated slideInUp slow">
                            <h3 class="card-header">For Single Account</h3>
                            <div class="card-body">
                                <h2 class="card-title"><i class="fas fa-rupee-sign"></i>400 Only</h2>
                                <h4 class="card-text">Unlimited accepts</h4>
                                <p class="card-text font-text">Validity: 15 (Fifteen) Days</p>
                            </div>
                            <div class="card-footer">
                                <p class="p-2">
                                    Click on:
                                </p>
    <p>
        <a href="https://kutt.it/am400" class="btn btn-action mt-3" target="_blank">Pay via
            InstaMojo</a>
    </p>
                                <!-- <p class="badge bg-secondary p-2 rounded shadow-lg">
                                    Or scan: <br> <br> <img src="https://i.postimg.cc/tCRk5GwN/am400.png" alt="am400"
                                                            class="img-fluid" title="open your camera/QR code app and scan me">
                                </p> -->
                            </div>
                        </div>
                        <div class="card bg-black animated slideInUp slow">
                            <h3 class="card-header  ">For Single Account</h3>
                            <div class="card-body">
                                <h2 class="card-title  "><span style="text-decoration: none"><i class="fas fa-rupee-sign"></i>600 Only</span>
                                </h2>
                                <h4 class="card-text  ">Unlimited accepts</h4>
                                <p class="card-text font-text">Validity: 30 (Thirty) Days</p>
                            </div>
                            <div class="card-footer">
                                <p class="p-2">
                                    Click on:  
                                </p>
                                <p>
                                    <a href="https://kutt.it/am600" class="btn btn-action mt-3" target="_blank">Pay via
                                        InstaMojo</a>
                                </p>
                                <!-- <p class="badge bg-secondary p-2 rounded shadow-lg">
                                    Or scan: <br> <br> <img src="https://i.postimg.cc/BZBNHnYv/am600.png" alt="am600"
                                                            class="img-fluid" title="open your camera/QR code app and scan me">
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p class="text-white text-center">For subscriptions of multiple account, kindly drop an email to us
                        at <a href="mailto:Acceptmeinfo@gmail.com"
                              class="font-weight-bold text-warning">Acceptmeinfo@gmail.com</a></p>
                </div>
            </div>
        </div>
      </section>

    <!-- main content ENDS -->
 {% if session["message"] %}
    <div class="bg-white text-center">
        <p class="text-danger p-2 ">{{ session["message"] }}</p>
    </div>
{% endif %}

    <div class="push"></div>
</body>

<!-- Foooter starts -->

{{ footer_content|safe }}

<!-- Foooter ENDS -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
</script>

<script src="{{ url_for('static', filename = 'main.js') }}"></script>

</html>